:root {
    --color-fg: #e5e5e5;
    --color-fg-alt: #999999;
    --color-border: #444444;
    --color-bg: #1a1a1a;
    --color-bg-alt: #2a2a2a;
    --color-hover: var(--color-border);
    --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
    --mono: ui-monospace, Consolas, monospace;
    --toggle-width: 32px;
    --toggle-height: 18px;
    --color-toggle-off: var(--color-border);
    --color-toggle-on: var(--color-fg-alt);
}


body {
    margin: 0;
    font-family: var(--sans);
    font-size: 11px;
    color: var(--color-fg);
    height: 100vh;
    overflow: hidden;
}

#app {
    display: flex;
}

h1 {
    font-size: 24px;
    margin: 12px 0px 6px 0px;
}

button, input, select, .effect, #crop-controls {
    color: var(--color-fg);
    background: var(--color-bg-alt);
    border-radius: 4px;
    font-size: 11px;
}

button {
    width: 100%;
    padding: 6px 8px;
    border: 1px solid var(--color-border);
    transition: all 0.2s ease;

    &:hover { background: var(--color-hover) };

    &:active, &.active { 
        background: var(--color-fg); 
        color: var(--color-bg);
    }
}

select {
    width: 100%;
    padding: 6px 8px;
    border: 1px solid var(--color-border);
}

.numeric-display {
    align-content: center;
    color: var(--color-fg);
    background: var(--color-bg-alt);
    border: 1px solid var(--color-border);
    border-radius: 4px;
    font-family: var(--mono);
}